body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #f8f9fb;
    background: linear-gradient(90deg, #eaedf1, #5d5c5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    margin-bottom: 10rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 10rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea, form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

form button:hover {
    background: #202121;
}

.gallery h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

.galleryimg {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 2rem;
}

.galleryimg img {
    width: 100%;
    max-width: 200px;
    margin: 0.5rem;
}

.about-us {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

.about-us h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.about-us img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.button-container {
    margin-top: 2rem;
    text-align: center;
}

.book-button {
    background-color: #2e2f2f;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #202121;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }
}